

html{
 /* background-image: url("bg2.png");*/
  background-repeat: no-repeat, repeat;
  background-color: #ffffff;
  overflow-x: hidden;
}
.cursive-font{
  font-family: Allisya;
  font-weight: normal;
}
.downl-cont{
  border: 1px dashed rgb(51, 51, 51); 
  padding: 4px; 
  width: fit-content; 
  border-radius: 6px;
}

.about{
  margin: 20px 5vw 0 5vw;
   color: #384EA0;
   font-family: Oswald;
}
.about h2{
  font-family: "Oswald", sans-serif;
  color: #384EA0;
  font-size: 30px;
}
.research {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #384EA0;
}

body{
  margin: 0;
}
.quote{
  margin: 0 5vw;
  font-family: "Allison";
  font-size: 24px;
  color: #5c5c5c;
}
.container{
    padding: 0;
    margin: 30px 5vw ;
  

  
}
.logo{
  height: 41px;
  margin-left: 5vw;
 
}
.menu{
  font-size: 14px;
  margin-right: 5vw;

}
.menu a{
  text-decoration: none;
  color: white;
  font-weight: 400;
  padding: 21px 10px;
}
.menu a:hover{
  background-color: rgba(255, 255, 255, 0.096);

}
.logo-container{
  margin: 0px 5vw;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin: 0;
  padding: 0;
  background: rgb(56,79,160);
background: linear-gradient(90deg, rgba(56,79,160,1) 0%, rgba(48,160,218,1) 100%);

  background-color: #70BE44;
}

.wlcm-container{
  position: relative;
  text-align: center;
}

.welcome-text{
  z-index: 100;
  position: absolute;
  color: #F7961D;
  font-size: 28px;
  font-weight: bold;
  left: 50%;
  top: 35px;
  white-space: nowrap;
  font-family: Oswald;
  transform: translate(-50%, -50%);
}
.welcome{
  background-color: #0f0f0f;
  height: 220px;
  margin: 30px 5vw;
  border-radius: 10px;
  background-image: url(landscape.jpg);
  background-size:cover;
  background-repeat: no-repeat;
}
.welcome h3{
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding-top: 20px;
  font-size: 28px;
  color: #384EA0;
}

/* CSS */
.button-4 {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 2px 6px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}
.row{
display:flex;
justify-content: space-between;
align-items: flex-start;
gap: 20px;
height: fit-content;


}
.row img{
  border-radius: 4px;
}
.col-1{
  display: flex ;
  flex-direction: column;
   justify-content: space-between;
   gap: 20px;
  width:100%;
  
}

.col-2{
  display: flex ;
  flex-direction: column;
   justify-content: space-between;
   gap: 20px;
  width: 100%;
}
.col-3{
  display: flex ;
  flex-direction: column;
   justify-content: space-between;
   gap: 20px;
  width: 100%;
}
.button-4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}
body{
min-height: 100vh;
}
.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}
.menu-money{
  background-color: #F7961D;
 
}
.heading{
  font-family: "Lato", sans-serif;
  font-weight: bold;
  margin: 0;
  font-size: 14px;
  margin-top: 0px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 0;
}
.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}
.link{
  font-size: 12px;
  color: rgb(0, 0, 0);
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
}
@font-face {
   font-family: Styrene;
   src: url(StyreneAWeb-Regular.woff);
}
@font-face {
  font-family: Oswald;
  src: url(oswald-regular.woff);
}
@font-face {
  font-family: Allisya;
  src: url(Allisya.woff);
}

* {
   font-family: Styrene;
}
.link-container{
  margin-top: 20px;
  margin-left: 0px;
  background-color: rgba(0, 0, 0, 0.048);
  width: fit-content;
  width: 200px;
  border-radius: 5px;
  padding: 10px;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.join{
  margin-left: 10px;
  margin-top: 20px;
  
  display: inline-block;
  font-family: 'Verdana', sans-serif;
  outline: none;
  cursor: pointer;
  border-radius: 6px;
  font-size: 10px;
  font-weight: bold;
  line-height: 16px;
  padding: 2px 20px;
  height: 32px;
  min-width: 60px;
  min-height: 32px;
  border: none;
  color: #ffffff;
  background-color: #4f545c;
  transition: background-color .17s ease,color .17s ease;

  }


.button-4:-webkit-details-marker {
  display: none;
}
.icon{
  display: none;
}


@media only screen and (max-width: 600px){
  html{
    background-repeat: no-repeat, repeat;
    background-size: cover ;
    overflow-x: hidden;
  }
 .icon{
  display: block;
  color: white;
  font-size: 24px;
  padding: 21px 5vw;
 }
 .branch img{
  width: 100% !important;
 }
 .icon:hover{
  background-color: rgba(255, 255, 255, 0.096);
}
  .welcome{
    background-position: center;
  }
  .welcome-text{
    font-size: 13px;
    top: 13px;
  }

  .welcome h3{
   
    font-size: 18px;
   
  }
  .whatis{
    display: block;
    max-height: 200px;
   width: auto;
   height: auto;
  }
  .m-container{
    flex-wrap: wrap;
  }
  .m-verse{

    width: 90vw !important;
  }
  .flex-container{
    flex-direction: column;
    margin: 20px 20vw !important;
  }
  .flex-container > div{
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .container{
    padding: 0;
    margin: 30px 5vw ;
 
  }
  .about-img{
    min-width: 40%;
    
  }
  .image img{
    height: 250px;
  }
  .menu{
    display: none;
  }
  .row, .col-1, .col-2, .col-3{
    gap:8px;
  }
  .menu a{
    padding: 21px 5vw;

  }
  .flex-container h2{
    padding: 10px !important;
  }
  .title{
    font-size: 8px !important;
  }
  .image-container {
    margin-left: 22px;
    margin-right: 22px;
  }
  .responsive{
    position: absolute;
    display: flex;
    flex-direction:column;
    top: 60px;
    background: rgb(56,79,160);
    background: linear-gradient(90deg, rgba(56,79,160,1) 0%, rgba(48,160,218,1) 100%);    width: 100%;
  }
}

.my-button{
  background-color: rgba(0, 0, 0, 0.048);
  border: 1px solid rgba(68, 68, 68, 0.705);
  border-radius: 5px;
  margin-left: 10px;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 10px;
 
}

h2{
  margin: 0;
  padding: 0;
}
.highlight{
color: #f1a518;
  font-size: 10px; border: 1px dashed #f1a518;background-color: rgba(235, 143, 4, 0.192); margin-left: 0px; padding: 4px 20px; width: fit-content; border-radius: 6px; margin-right: 20px;
}

.structure-img{
  margin-left: 5vw;
  width: 90vw;
}

  .footer {
    background-image: url("bg2.png");
    background-repeat: no-repeat, repeat;
    background-position:center;
    background-color: #ffffff;
    overflow-x: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem 2rem;
    text-transform: uppercase;
    background-color: #f8f8f8;
    display: flex;
    flex-direction: column;
    font-size: 10px;
    color: #5c5c5c;
    font-family:  Verdana, sans-serif;
  font-weight: bold;
}
.copyright{
  
  font-size: 10px;
  color: #a7a7a7bf;
  font-family: "Unica One", sans-serif;

}
.m-container{
  display: flex;
  margin: 20px 5vw;
  gap: 20px;
  color: #384EA0;
  justify-content: space-between;
}
.m-container h2{
  font-size: 15px;
}

.m-verse{
  width: 20vw;
  padding: 20px;
  font-size: 12px;
  font-style: italic;
  background-color:#2fa1da27;
  border-radius: 10px;
}
.whatis{
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width:80vw;
}
.money-b{
  display: flex;
  border-radius: 10px;
  border: 4px solid #F9B264;
  background-color: #F7961D;
  
}
.shelter-b{
  display: flex;
  border-radius: 10px;
  border: 4px solid #879bdb;
  background-color: #384EA0;
}
.meet{
  margin: 16px 0;
  display: flex;
}
.title{
  width:fit-content;
  padding: 8px 20px;
  color: #2FA0DA;
  border-radius: 2px;
  background-color: #2fa1da27;
  font-size: 12px;
  margin-bottom: 10px ;
}
.about-img{
  width: 15%;
  border-radius: 50%;
 border: 5px solid #879bdb;

}
.food-b{
  display: flex;
  border-radius: 10px;
  border: 4px solid #B3ED8E;
  background-color: #70BE44;
}
.water-b{
  display: flex;
  border-radius: 10px;
  border: 4px solid #7ED2F2;
  background-color: #2FA0DA;
}
.energy-b{
  display: flex;
  border-radius: 10px;
  border: 4px solid #FFF799;
  background-color: #FFDB00;
}

.flex-container{
  display: flex;
  justify-content: space-between;
  flex-wrap:nowrap;
  margin: 20px 5vw;
  padding: 0;
}
.flex-container > div{
  min-width: 220px;
  justify-content: space-between;
}

.flex-container h2{
  padding: 15px 10px 15px 10px;
  font-family: Allisya;
  color: white;
  font-weight: normal;
}
/*.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
*/
.money{
  background-color: #7cb518;
 line-height: 10px;
 height: 3px;
 width: 100%;
}
.shelter{
  background-color: #384EA0;
 line-height: 10px;
 height: 3px;
 width: 100%;
}
.food{
  background-color: #70BE44;
 line-height: 10px;
 height: 3px;
 width: 100%;
}
.water{
  background-color: #2FA0DA;
 line-height: 10px;
 height: 3px;
 width: 100%;
}
.energy{
  background-color: #F4EA30;
 line-height: 10px;
 height: 3px;
 width: 100%;
}
.image{
  background-color: #EDEFF2;
  flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    border-radius: 5px;
}

